@keyframes glow {
    0% {
        box-shadow: 0 0 5px #B89158;
    }
    50% {
        box-shadow: 0 0 15px #B89158;
    }
    100% {
        box-shadow: 0 0 5px #B89158;
    }
}

.glow-border {
    animation: glow 1.5s ease-in-out infinite;
}
